/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS
   © Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */


/* --- STYLES DE BASE POUR LE TEXTE ET LES PRINCIPAUX ÉLÉMENTS --- */

/* Page */
html {
	font-size: 100%; /* Voir -> Note 1 à la fin de la feuille de styles. */
}
body {
	margin: 0;
	padding: 10px 20px; /* Note -> 2 */
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; /* 3 */
	font-size: .8em; /* -> 4 */
	line-height: 1.25; /* -> 5 */
	color: black;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* -> 6 */
}
h1, h2 {
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; /* -> 7 */
}
h1 {
	font-size: 3em; /* -> 8 */
	font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

/* Listes */
ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; /* -> 9 */
}
ul {
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}

/* Paragraphes */
p {
	margin: .75em 0;
}
li p, blockquote p {
	margin: .5em 0;
}

/* Citations */
blockquote, q {
	font-size: 1.1em;
	font-style: italic;
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
blockquote {
	margin: .75em 0 .75em 24px;
}
cite {
	font-style: italic;
}

/* Liens */
a {
	color: mediumblue;
	text-decoration: underline;
}
a:hover, a:focus {
	color: crimson;
}
a img {
	border: none; /* -> 10 */
}

/* Divers éléments de type en-ligne */
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: dimgray;
}


/* --- STYLES POUR CERTAINS CONTENUS DES GABARITS --- */

pre, code {
	font-size: 100%;
	font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
	width: 90%;
	overflow: auto;
	overflow-y: hidden;
	margin: .75em 0;
	padding: 12px;
	background: #eee;
	color: #555;
}
pre strong {
	font-weight: normal;
	color: black;
}
#copyright {
	margin: 20px 0 5px 0;
	text-align: right;
	font-size: .8em;
	color: #848F63;
}
#copyright a {
	color: #848F63;
	text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
	text-decoration: underline;
}






/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS --- 04
   © Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */


/* --- COULEURS --- */

/* Général */
body {
	color: #000;
	background: #EEE;
	background: url("images/bg_body.jpg");
}

a {
	color: #046380;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #A1B55D;
}

/* Navigation */
#navigation {
	background: #EEE;
}
#navigation a {
	text-decoration: none;
	color: #000;
}
#navigation a:hover,
#navigation a:focus
{
	/*background: #DBAC45;*/
}

#navigation .logo a,
#navigation .logo a:hover,
#navigation .logo a:focus {
	background: transparent;
}

/* Contenu principal */
#contenu {
	color: #363B29;
}
#contenu a {
	color: #046380;
}
#contenu a:hover,
#contenu a:focus
{
	color: #6E5122;
}
#contenu strong {
	color: #181A12;
}


/* --- POSITIONNEMENT --- */

/* Page */
body {
	padding: 0px 0px; /* Voir -> Note 1 ci-dessous */
}

/* En-tête */
h1 {
	margin: 0;
	padding: 5px 10px;
	font-size:1.8em;
	font-style: normal;
	font-weight: bold;
	text-align:center;
}

/* Menu de navigation */
#navigation {
	width: 15%;
	float: left; /* -> 2 */
	background: url("images/bg_navigation.png");
	border-right:5px solid #556627;
}

#navigation > ul {
	width: 100%;
	margin:0;
	padding: 0;
}

#navigation > ul > li {
	width: 100%;
	margin: 0;
}

#navigation ul ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0px;
	margin: 0;
	padding: 0;
	z-index: 1000;
}

#navigation li {
	list-style-type: none;
	background-color: transparent;
	position: relative;
	min-width: 200px;
	padding: 0.3em 0;
	margin: 0;
	font-weight: bold;
	color: #000;
}

#navigation li li {
	background-color: #046380;
}

#navigation li li li {
	background-color: #C4D7ED;
}

#navigation li li li li {
	background-color: #A1B55D;
}

#navigation li:hover a {
	color: #FFF;
}

#navigation li:hover {
	background-color: #046380;
}

#navigation li li:hover a {
	color: #000;
}

#navigation li li:hover {
	background-color: #C4D7ED;
}

#navigation li li li:hover a {
	color: #FFF;
}

#navigation li li li:hover {
	background-color: #A1B55D;
}

#navigation li li li li:hover {
	background-color: #C44C51;
}

#navigation li a {
	text-decoration:none;
	margin-left: 1em;
	display: block;
}

#navigation li:hover > ul,
#navigation li li:hover > ul {
	display: block;
}

#navigation .logo {
	text-align:center;
}

#navigation .pluginInline2 {
 text-align:center;
 margin-bottom:1em;
}

#navigation .pluginInline1 {
 text-align:center;
 margin-top:1em;
 margin-bottom:1em;
}

/* Contenu */
#contenu {
	margin-left: 15%; /* -> 4 */
	padding: 5px 10px 5px 10px;
}
#inpopup {
	padding: 5px 10px 5px 10px;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p,
#contenu li {
	line-height: 1.5;
}

/* Mention de paternité */
#copyright {
	margin-left: 15%;
	padding: 5px 10px 5px 10px;
	border-top: 2px solid #C44C51;
	color:gray;
}


table {
 width:100%;
 margin: 0;
 border-collapse:collapse;
 border-spacing:0px;
 border-width:1px;
 border-style:none;
 text-align:left;
}

td {
 vertical-align:top;
}

img {
 border:0;
}



/**
* .menuTable: the table containing the drop-down menus
*/
.menuTable {
 margin: 0;
 padding: 0;
 margin-bottom:1em;
 border-bottom: #F90 3px groove;
}


/* Inline custom plugins */
.inline1 {}

.inline2 {}

.inline3, .inline4 {
 margin:0;
 padding:0;
 text-align:left;
}


/* Footer information: footer information at end of script */
.footerInfo {
 margin:0;
 padding:0;
 margin-bottom:0.5em;
 text-align:right;
 color: gray;
}

.impressum {
 margin:0;
 padding:0;
 margin-bottom:0.5em;
 text-align:right;
 color: gray;
}


/**
* HYPERLINKS
*/
/* normal links and paging links */
#contenu a,
#copyright a:hover {
 text-decoration: none;
 color: #046380;
 background: transparent;
}

#contenu a:hover,
#copyright a:hover {
 background: #C44C51;
 color: #FFF;
}

a.link:visited,
a.link:link,
a.link:active,
a.page:visited,
a.page:link,
a.page:active {
 color: #046380;
}

/* resource links for resource URLs */
a.rLink:visited,
a.rLink:link,
a.rLink:active {
 color: black;
}

/* When viewing lists of resources, display a hyperlink to a pop-up window to generate a CMS (Content Management System) 'replacement tag' for each resource */
a.cmsLink:visited,
a.cmsLink:link,
a.cmsLink:active,
a.cmsLink:hover {
 font-size: 0.7em;
 color: #729179;
}

#contenu a.imgLink:hover {
 background: transparent;
}





/* The enclosing paragraph for the browsing above. */
.browseParagraph{
 background: #FFF8E2;
 color: black;
}

/**
* FORM class
*/
.formElements{}
/**
* TABLES
*/

/**
* .mainTable: the table containing the main content of WIKINDX
*/
.mainTable {
 margin: 0;
 margin-bottom:0.5em;
 border-collapse:collapse;
 border-spacing:0px;
}

.mainTable td {
 padding: 0px;
 border: 0px;
}

/**
* .pluginTopTable: the table containing any plug-in output that is printed above the mainTable of WIKINDX
*/
.pluginTopTable {
 border: 2px solid #046380;
 margin: 0;
 padding: 0;
}

/**
* .pluginBottomTable: the table containing any plug-in output that is printed below the mainTable of WIKINDX
*/
.pluginBottomTable {
 border: 2px solid #046380;
 margin: 0;
 padding: 0;
}

/**
* .styleTable: the table containing administration of bibliographic styles
*/
.styleTable {
 border: 2px solid #046380;
 margin: 0;
 padding: 0;
}

/**
* .generalTable: general purpose table
*/
.generalTable {
 border: 1px solid #046380;
 margin: 0;
 padding: 0;
}


.contentRessource td {
	
}

.contentAttachments,
.contentCustom,
.contentAbstract,
.contentNote,
.contentQuotes,
.contentParaphrases,
.contentMusings {
 border-top:1px solid #000;
 margin:0.66em 0;
}



/**
* redefine HTML headings - see /core/libs/HTML.php
*/

/**
* Headings
*/
h2, h3, h4 {
 color: #B9121B;
 margin: 0 0 0.5em 0;
}

.pageHeading {
 vertical-align:top;
}



/**
* Display of system messages
*/

/**
* .error: <p>error messages</p>
*/
.error {
 background: #C96D63;
 color: #FFF;
 
}

/**
* .success: <p>success messages</p>
*/
.success {
 background: #729179;
 color: #FFF;
}

/**
* .small: small text
*/
.small, .hint {
 font-size: 0.8em;
 vertical-align: bottom;
}

/**
* .hint: text hints given to provide further information usually on form input. Often used in conjunction
* with .small and usually the class of <span>....</span>
*/
.hint {
 color: gray;
}

/**
* .highlight: highlight <span>search terms</span> in text
*/
.highlight {
 background: #FFF168;
}

/**
* .required: highlighting for <span>required</span> form input elements.
*/
.required {
 color: #C96D63;
}

/**
* alternate colours and font sizes for <td>resources</td> in a bibliographic list
*/
.alternate1,
.alternate2,
.alternate3,
.alternate4
{
 font-size: 0.9em;
}

.alternate1 {
 background: #C4D7ED;
}
.alternate2 {
 background: #ABC8E2;
}
.alternate3 {
 background: #FFE7D5;
}
.alternate4 {
 background: #FFF799;
}

/*
 * paging characters for resource lists
 */
.contentPaging{
 font-size: 0.75em;
 text-align:center;
 margin-bottom:1em;
}

/*
 * bold, italics, smallcaps for bbcode
 */
.bold { 
 font-weight: bold;
}
.italics {
 font-style: italic;
}
.smallcaps {
 font-variant: small-caps;
}

/**
* mouse cursor classes
*/
.cursorPointer {
 cursor: pointer;
}

/**
* Static styles used by the core of wikindx
* These classes have a correspondence 1 to 1 with old inlined style code for HTML4.
* You can modify their effects, but you may have trouble understanding the significance
* of the effects as they are closely linked to the logic of the PHP code.
* -- Stéphane Aulery, 11 june 2016
*/
.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.top { vertical-align:top; }
.middle { vertical-align:middle; }
.bottom { vertical-align:bottom; }
.u { text-decoration: underline; }
.blackText { color: black; }
.greenText { color: green; }
.redText { color: red; }
.borderStyleSolid { border-style:solid; }
/**
* For particular emphasis of a table cell. Used in the resource form to emphasize the creator entry table
* It might be: .borderStyleEmphasis { border-style:solid; border-color: #ff0000;  border-width: 2px;}
*/
.borderStyleEmphasis { border-style:solid; }
.borderStyleNone { border-style:none; }
.borderSpacingNone { border-spacing:0px; }
.borderSpacingSmall { border-spacing:4px; }
.borderSpacingMedium { border-spacing:10px; }
.borderSpacingHigh { border-spacing:15px; }
.borderPaddingNone { border-spacing:0px; }
.padding2px { padding:2px; }
.padding3px { padding:3px; }
.padding4px { padding:4px; }
.padding5px { padding:5px; }
.floatLeft { float:left; }
.floatRight { float:right; }

.widthauto { width:auto; }
.width1percent { width:1%; }
.width5percent { width:5%; }
.width10percent { width:10%; }
.width15percent { width:15%; }
.width18percent { width:18%; }
.width20percent { width:20%; }
.width25percent { width:25%; }
.width30percent { width:30%; }
.width33percent { width:33%; }
.width35percent { width:35%; }
.width40percent { width:40%; }
.width45percent { width:45%; }
.width50percent { width:50%; }
.width55percent { width:55%; }
.width60percent { width:60%; }
.width66percent { width:66%; }
.width65percent { width:65%; }
.width70percent { width:70%; }
.width75percent { width:75%; }
.width80percent { width:80%; }
.width85percent { width:85%; }
.width90percent { width:90%; }
.width95percent { width:95%; }
.width100percent{ width:100%;}
/**
* End of : Static styles used by the core of wikindx
*/

/**
* START multiple file upload styles
*
* Adapted from https://code-boxx.com/simple-drag-and-drop-file-upload/
*/
.attachmentBorder {
 border: 2px solid #046380;
}
#uploader {
	height: 200px; 
	background: transparent;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}
#uploader.highlight {
	background: #7FFF00;
}
#uploader.disabled {
	background: #aaa;
}
/**
* END multiple file upload styles
*/
