#
# WIKINDX : Apache .htaccess.
#
# @see https://wikindx.sourceforge.io/ The WIKINDX SourceForge project
#
# @version 1
#
# @author The WIKINDX Team
# @copyright 2019 Stéphane Aulery <lkppo@users.sourceforge.net>
# @license https://creativecommons.org/licenses/by-nc-sa/4.0/ CC-BY-NC-SA 4.0
#

# .htaccess resource: https://www.askapache.com/htaccess/

<Directory "/">
	# Disable all others .htaccess
	AllowOverride None

	# Enable the DirectoryIndex Protection,
	# preventing directory index listings and defaulting
	Options -Indexes
	DirectoryIndex index.htm index.html index.php /index.php
</Directory>

# Disallow PHP and CGI
<Directory "^/(cache|data|dbschema|docs|languages|styles|templates)$">
	Options -ExecCGI
	AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi
	RemoveHandler .php
</Directory>

# Fixes a vulnerability in CentOS: http://stackoverflow.com/questions/20533279/prevent-php-from-parsing-non-php-files-such-as-somefile-php-txt
<FilesMatch \.php\.txt$>
    RemoveHandler .php
    ForceType text/plain
</FilesMatch>


# Block any direct access for any folder and files.
# The directives which come after can open an access.
# Open access can no longer be prohibited, so be carefull.
<Directory "/">
	# Apache 2.2
	<IfModule !mod_authz_core.c>
		Order Deny,Allow
		Deny from all
	</IfModule>
	
	# Apache 2.4
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</Directory>

# Allow access for all
<Directory "^/(cache|core|data|plugins|templates|vendor)$">
	# Apache 2.2
	<IfModule !mod_authz_core.c>
		Allow from all
	</IfModule>
	
	# Apache 2.4
	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>
</Directory>

# Allow access to entry point scripts
<FilesMatch "^(cmsprint\.php|index\.php|robots\.txt|rss\.php|sitemap\.php)$">
	<IfModule !mod_authz_core.c>
		Allow from all
	</IfModule>
	
	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>
</FilesMatch>
